html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  font-size: 1.125rem;
  line-height: 1.3rem;
  color: #222;
  padding: 0 1em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
  font-weight: normal;
}

header > p {
  font-style: italic;
  line-height: 0;
}

header::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #999;
}

blockquote {
  color: #555;
  padding: 0 1rem;
}

body {
  margin: 0 0 1.3rem;
  padding-top: .2rem;
}

ol {
  padding: 0 1.3rem;
}

article::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #999;
}
