html {
  box-sizing: border-box;
  font-family: "Crimson Text", serif;
  font-size: 1.125rem;
  line-height: 1.3rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 1.5rem;
}

.author {
  font-style: italic;
}
